.booking-time {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
     width:70px;
}

.booking-time li {
    float:left;
    margin:0 5px 0 0;
    width:70px;
    height:30px;
    position:relative;

}

.booking-time label, .booking-time input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    font-size: 12px;
}

.booking-time input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.booking-time input[type="radio"]:checked + label,
.Checked + label {
    background:green;
}
.booking-time input[type="radio"]:disabled + label,
.Disabled + label {
    background:#000;
}

.booking-time label {
     padding:5px;
    color: #000;
     background: #FFF;
     cursor:pointer;
    z-index:90;
}

.booking-time label:hover {
     background:#DDD;
}